.module {
  width: 300px;
  margin: 0 0;
}

.text-conversation {
  list-style: none;
  background: #333333;
  padding: 0 0 50px 0;
  max-height: 87vh;
  min-height: 87vh;
  overflow: scroll;
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .avatar {
    width: 40px; // stronger than %
    // could set height, but gonna bottom-align instead
    position: relative; // for triangle
    img {
      display: block; // triangle position
      width: 100%;
    }
  }
}

.other {
  .avatar {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
  .messages {
    order: 1;
    border-bottom-right-radius: 0; // weird shadow fix
  }
  .avatar {
    order: 2;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba(black, 0.2);
    }
  }
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(black, 0.2);
  p {
    font-size: 1.0rem;
    margin: 0 0 0.2rem 0;
    color: #000000;
  }
  time {
    font-size: 0.7rem;
    color: #cccccc;
  }
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
}

input[type=username] {
  border: none;
  border-bottom: solid 1px #4c4c4f;
  font-size: 2em;
  background-color: transparent;
  color: #000000;
  padding:.4em 0;
  margin-right: 20px;
  width: 100%;
  display: block;
  text-align: center;
}

input[type="username"]:focus {
  border-bottom: solid 2px #4285F4;
  outline: none;
}

input[type="username"].invalid {
  border-bottom: solid 2px #F44336;
}

@keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}
